
@{
    ViewData["Title"] = "Home Page";
}


<!-- BEGIN: Page content -->
<section id="home">
    <div class="view">
        <img alt="" class="bg" src="~/assets/originaltransient.jpg" /> <img alt="" class="bg" src="~/assets/another blackmanoffice.jpg" /> <img alt="" class="bg" src="~/assets/imageontable.jpg" />
        <div class="content pane">
            <div class="container-fluid home-angie">
                <div class="row">
                    <div class="col-md-6 colors-a full-size stretch-height">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2 background-80">
                                <div class="box">
                                    <h1 class="text-right">
                                        Welcome to <br /><span><span class="highlight">God's Love Network</span></span>
                                    </h1>
                                    <p class="text-right highlight hidden-xs hidden-sm">We are swift and 101% reliable when it comes to the sales of data,<br /> bulk Airtime. &amp; converting excess airtime to cash </p>
                                    <p class="text-right hidden-xs hidden-sm">We also deal in several aspects of Crytocurrency, Animated Video production.</p>
                                    <p class="title highlight text-right hidden-xs hidden-sm"><strong><a href="#about">Read More...</a>.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 colors-a background-transparent full-size stretch-height hidden-xs hidden-sm">
                        <div class="textillate heading" data-textillate-options="{loop:true, in:{effect:'flipInY', reverse:false}, out:{effect:'flipOutY', reverse:false}}">
                            <ul class="texts">
                                <li>We Are God's Love Network</li>
                                <li>We Are Creative</li>
                                <li>We Are Professionals</li>
                                <li>We Are Diligent</li>
                                <li>We Are Trust Worthy</li>
                            </ul>
                        </div>
                        <p><a href="#about" class="button no-border text-background background-highlight">About Us</a><a href="#work" class="button no-border text-background background-heading">Our Services</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="about">
    <div class="view">
        <img alt="" class="bg" src="~/assets/images/bg/picjumbo/picjumbo.com_IMG_5790.jpg" />
        <div class="content pane">
            <div class="container-fluid">
                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-4 colors-b">
                        <div class="row">
                            <div class="col-xs-12 banner-cell">
                                <h3 class="light-font-weight">Automated</h3>
                                <p class="title">Service</p>
                            </div>
                            <div class="col-xs-12 success heading-b banner-cell">
                                Buying data, airtime and other online services are fleunt and easy
                                <br /> via our service automation.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 colors-c">
                        <div class="row">
                            <div class="col-xs-12 banner-cell">
                                <h3 class="light-font-weight">Timely</h3>
                                <p class="title">Response</p>
                            </div>
                            <div class="col-xs-12 warning heading-c banner-cell">
                                We response to your orders swiftly and quickly due to
                                <br /> our automated process.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 colors-d">
                        <div class="row">
                            <div class="col-xs-12 banner-cell">
                                <h3 class="light-font-weight">We are</h3>
                                <p class="title">Passionate</p>
                            </div>
                            <div class="col-xs-12 info heading-d banner-cell">
                                Our passion and sincere love for serving you right is second to non and
                                <br /> this motivates us to do more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view">
        <img alt="" class="bg" src="~/assets/images/bg/pexels/autumn-avenue-path-946.jpg" /><img alt="" class="bg" src="~/assets/images/bg/pexels/autumn-avenue-path-946.jpg" />
        <div class="content colors-e">
            <div class="container">
                <h2>About</h2>
                <p class="header-details"><span class="highlight">we offer excellent service across <br /></span>  telecommunication and cryptocurrency.</p>

                <p class="lead">We are <span class="highlight">swift and 99.9% reliable</span>  when it comes to the sales of data, bulk Airtime, converting excess airtime to cash, several aspects of Crytocurrency deals, Animation Video production.</p>

            </div>
        </div>
    </div>
    <div class="view" id="how-we-work">
        <img alt="" class="bg" src="~/assets/images/bg/picjumbo/picjumbo.com_IMG_7432.jpg" /><img alt="" class="bg" src="~/assets/images/bg/pexels/coffee-coffee-machine-cup-3042.jpg" />
        <div class="content colors-f">
            <div class="container">
                <h3><span class="highlight">How</span> We Work</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="text-center">We partner with the telecommunication companies in Nigeria and make there services available to you at easy and affordable price. </p>
                    </div>
                </div>
                <div class="row icon-set">
                    <div class="col-md-3 text-center">
                        <p>
                            <a><img src="~/assets/mtn_logo-removebg-preview.png" alt="logo" title="MTN LOGO" data-animation="fadeInLeft" /></a>

                        </p>
                        <p class="title"><span class="underline-text">MTN</span></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <p>
                            <img src="~/assets/newglo-removebg-preview.png" height="170" data-animation="fadeInUp" />
                        </p>
                        <p class="title"><span class="underline-text">GLO</span></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <p>
                            <img src="~/assets/airtelred logo.png" data-animation="fadeInDown" />
                        </p>
                        <p class="title"><span class="underline-text">Airtel</span></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <p>
                            <img src="~/assets/9mobile-removebg-preview.png" height="160" data-animation="fadeInRight" />

                        </p>
                        <p class="title"><span class="underline-text">9mobile</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="team">

    <div class="view">
        <img alt="" class="bg" src="~/assets/images/bg/stocksnap/3F7D411CC8.jpg" /><img alt="" class="bg" src="~/assets/images/bg/stocksnap/3F7D411CC8.jpg" />
        <div class="content colors-e">
            <div class="container">
                <p class="header-details"><span class="highlight">Who </span>We Are</p>
                <div class="col-md-4"></div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="hover-overlay">
                            <img alt="Paul Ifeoluwa Salako" src="~/assets/gnl ceo.jpg" title="Paul Salako" class="fluid-width">
                            <div class="overlay background-90-b">
                                <div>
                                    <p class="text-center text-uppercase heading-b">
                                        A Business strategist who is passionate about seeing people's businesses growing from different spheres.
                                    </p>
                                    <div class="separator-small"></div>
                                    <p class="text-center">
                                        <a target="_blank" href="#"><i class="fa fa-facebook heading-b"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-youtube heading-b"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-github heading-b"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <p>
                                <span class="title">Paul Ifeoluwa Salako</span>
                                <br />
                                <span class="highlight">CEO &amp; Founder</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="work">

    <div class="view">
        <img alt="" class="bg" src="~/assets/images/bg/stocksnap/219FB68281.jpg" /><img alt="" class="bg" src="~/assets/images/bg/stocksnap/219FB68281.jpg" />
        <div class="content no-bottom-padding colors-e">
            <div class="container">
                <h2>Our <span class="highlight">Services</span></h2>
            </div>
            <br />
            <br />
            <br />
            <div class="gallery background-e" data-default-group="all" data-overlay=".gallery-overlay">
                <div class="container">
                    <div class="filter">
                        <ul class="nav nav-pills text-center">
                            <li><a class="hover-effect" data-group="all" href="#">All</a></li>
                            <li><a class="hover-effect" data-group="web" href="#">Airtime &amp; Data</a></li>
                            <li><a class="hover-effect" data-group="video" href="#">Pay Bills</a></li>
                            <li><a class="hover-effect" data-group="photography" href="#">Exams Pin</a></li>
                            <li><a class="hover-effect" data-group="design" href="#">Animate Video</a> </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="grid">
                            <div class="item col-md-4" data-groups='["web"]'>
                                <div class="text-center">
                                    <h4>Buy Data</h4>
                                    <img alt="Image buy data" src="~/assets/buy data image.jpg" />
                                    <p class="highlight">We sell mobile data of all networks.</p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["web"]'>
                                <div class="text-center">

                                    <h4>Buy Airtime</h4>
                                    <img alt="Image buy airtime" src="~/assets/buy airtime.jpg" />

                                    <p class="highlight">We sell airtime of all networks.</p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["web"]'>
                                <div class="text-center">
                                    <h4>Airtime to Cash</h4>
                                    <img alt="Image airtime to cash" src="~/assets/airtime to cash.jpg" />
                                    <p class="highlight">We convert airtime to cash instantly.</p>
                                </div>
                            </div>

                            <div class="item col-md-4" data-groups='["video"]'>
                                <div class="text-center">
                                    <h4>Pay Elctricity Bill</h4>
                                    <img alt="Pay electricity bill" src="~/assets/pay electricity bill.jpg" />
                                    <p class="highlight">We pay electricity bill of any campany <br /> with instant activation.</p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["video"]'>
                                <div class="text-center">
                                    <h4>Cable TV Subscription</h4>
                                    <img alt="Pay Cable subscription Image" src="~/assets/dstv image.jpg" />
                                    <p class="highlight">We subscribe Gotv, Dstv and Startimes <br /> with instant activation.</p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["photography"]'>
                                <div class="text-center">
                                    <h4>Get Examination Pin</h4>
                                    <img alt="Get examination pin image" src="~/assets/waec jamb logo.jpg" />
                                    <p class="highlight">We generate WAEC and JAMB pins <br /> to check your result.</p>
                                </div>
                            </div>
                            <div class="item col-md-4">
                                <div class="text-center">
                                    <h4>Buy Bitcoin</h4>
                                    <img alt="Get examination pin image" src="~/assets/best bitcoinlogo.jpg" />
                                    <p class="highlight">
                                        We buy bitcoin of any worth, our rate
                                        is <br /> dope. Try and see for yourself.
                                    </p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["design"]'>
                                <div class="text-center">
                                    <h4>Animation Video</h4>
                                    <img alt="Get examination pin image" src="~/assets/animation video.jpg" height="180" />
                                    <p class="highlight">We do all kinds of animation video.</p>
                                </div>
                            </div>
                            <div class="item col-md-4" data-groups='["photography"]'>
                                <div class="text-center">
                                    <h4>Get Neco Pin</h4>
                                    <img alt="Get examination pin image" src="~/assets/neco image.jpg" />
                                    <p class="highlight">We generate NECO pins  to check <br />your result.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="contact">
    <div class="view">
        <img alt="" class="bg" src="~/assets/images/bg/pexels/art-brush-colors-3112.jpg" /><img alt="" class="bg" src="~/assets/images/bg/picjumbo/picjumbo.com_IMG_4563.jpg" /><img alt="" class="bg" src="~/assets/images/bg/picjumbo/picjumbo.com_HNCK1805.jpg" />
        <div class="content full-size colors-h">
            <div class="container">
                <h2>Contact</h2>
                <p class="header-details">Keep In Touch</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-right scroll-in-animation" data-animation="fadeInLeft">
                            <p class="big-font uppercase">
                                Tel: <strong class="highlight">+234 814 1160 246</strong>
                            </p>
                            <p class="big-font">
                                <b>
                                    <a href="mailto:info@ouraddress.com">glnsubng@gmail.com</a><br />
                                </b>
                            </p>
                            <p class="big-font">
                                <a target="_blank" href="#"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-twitter fa-stack-1x text-background"></i></span></a>
                                <a target="_blank" href="#"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-facebook fa-stack-1x text-background"></i></span></a>
                                <a target="_blank" href="#"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-youtube fa-stack-1x text-background"></i></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-left scroll-in-animation" data-animation="fadeInRight">
                            <form class="ajax-form" data-message-class="colors-d background-95 heading border" action="https://skrollex.x40.ru/theme-angie/contact.php" method="post" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-6 control-group">
                                        <div class="alt-placeholder">Name</div>
                                        <input type="text" name="your-name" value="" size="40" placeholder="Name" data-validation-required-message="Please fill the required field." required>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="col-md-6 control-group">
                                        <div class="alt-placeholder">Email</div>
                                        <input type="email" name="your-email" value="" size="40" placeholder="Email" data-validation-required-message="Please fill the required field." required>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="col-md-12 control-group">
                                        <div class="alt-placeholder">Message</div>
                                        <textarea name="your-message" placeholder="Message" data-validation-required-message="Please fill the required field." required></textarea>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="col-md-12 form-actions">
                                        <input class="button" type="submit" value="Send">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>